<section class="home">
  <div class="hero">
    <nav>
      <img src="../../assets/public/img/logo.png" alt="" class="ms-logo" />
      <ul>
        <li>
          <a href="£"><i class="fa-solid fa-house"></i></a>
        </li>
        <li>
          <a href="£"><i class="fa-regular fa-address-card"></i> CHANNEL</a>
        </li>
        <li>
          <a href="£"><i class="fa-solid fa-arrow-up-right-dots"></i> PREVAILING</a>
        </li>
        <li>
          <a href="£"><i class="fa-solid fa-music"></i> PLAYLIST</a>
        </li>
        <li>
          <a href="£"><i class="fa-regular fa-newspaper"></i> BLOG</a>
        </li>
      </ul>
      <div class="ms-function">
        <i class="fa-regular fa-heart"></i>
        <i class="fa-solid fa-magnifying-glass"></i>
      </div>
    </nav>

    <div *ngFor="let slide of slides; let i = index">
      <video #myVideos #myVideo [hidden]="currentSlide !== i" autoplay loop muted class="back-video">
        <source [src]="slide.url" type="video/mp4" />
      </video>
      <!-- <div class="video-info" [hidden]="currentSlide !== i">
        <h3>{{ slide.title }}</h3>
        <p>{{ slide.description }}</p>
      </div> -->

      <div class="content" [hidden]="currentSlide !== i">
        <h1>{{ slide.title }}</h1>
        <!-- <p>{{ slide.description }}</p> -->

        <div class="play-music">
          <div class="button-row">
            <button class="button | button--toggle">
              <i class="fa-solid fa-shuffle"></i>
            </button>
            <button class="button" (click)="previousSlide()">
              <i class="fa-solid fa-backward-step"></i>
            </button>
            <button class="button | button-music" (click)="togglePlayPause()"
              [ngClass]="{ 'button--toggle button--play is-active': isPlaying }">
              <i class="fa-solid" [ngClass]="{ 'fa-pause': !isPlaying, 'fa-play': isPlaying }"></i>
            </button>
            <button class="button" (click)="nextSlide()">
              <i class="fa-solid fa-forward-step"></i>
            </button>
            <button class="button | button--toggle">
              <i class="fa-solid fa-repeat"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
