<section>
  <div class="container-fluid custom-container">
    <div class="all-content">
      <div class="header-content text-center mb-4">
        <h3>Classical music</h3>
        <h1>Discover the world of music with us</h1>
      </div>

      <div class="body-content">
        <!-- Khám phá âm nhạc của web -->
        <div class="row justify-content-center">
          <!-- Card items with 4 per row -->
          <div class="col-md-3" *ngFor="let item of album; let i = index">
            <div class="card">
              <img
                src="{{ item.url }}"
                class="card-img-top"
                alt="Music Image {{ i + 1 }}"
              />
              <div class="card-body">
                <h5 class="card-title">{{ item.name }}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{ item.singer }}</h6>
                <p class="card-text">{{ item.description }}</p>
              </div>
            </div>
          </div>
        </div>

        <!-- Bảng xếp hạng các ca khúc -->
        <div class="ranking-section mt-5">
          <h5 class="mb-4">Top Song Rankings</h5>
          <h2 class="mb-4">Update Everyday</h2>
          <div class="table-responsive">
            <table class="table table-striped table-bordered">
              <thead class="">
                <tr>
                  <th scope="col" style="width: 5%">Top 10</th>
                  <th scope="col" style="width: 10%">Song Title</th>
                  <th scope="col" style="width: 25%">Artist</th>
                  <th scope="col" style="width: 20%">Genre</th>
                  <th scope="col" style="width: 15%">Release Date</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let song of album; let i = index">
                  <th scope="row">{{ i + 1 }}</th>
                  <td>
                    <img class="card-img-top" src="{{ song.url }}" alt="" />
                  </td>
                  <td>
                    <div class="ranking">
                      <ng-container *ngIf="song.rank === 1">
                        <i style="background-color: {{getColor(song.rank)}};" class="icon-ranking fa-solid fa-arrow-up rounded-circle border border-dark d-flex justify-content-center align-items-center" ></i>
                      </ng-container>
                      <ng-container *ngIf="song.rank === 2">
                        <i style="background-color: {{getColor(song.rank)}};" class="icon-ranking fa-solid fa-arrow-right rounded-circle border border-dark d-flex justify-content-center align-items-center" ></i>
                      </ng-container>
                      <ng-container *ngIf="song.rank === 3">
                        <i style="background-color: {{getColor(song.rank)}};" class="icon-ranking fa-solid fa-arrow-down rounded-circle border border-dark d-flex justify-content-center align-items-center" ></i>
                      </ng-container>
                    </div>
                  </td>
                  <td>{{ song.artist }}</td>
                  <td>{{ song.genre }}</td>
                  <!-- <td>{{ song.releaseDate }}</td> -->
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Bootstrap CSS -->
<link
  rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
/>
