*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.all-content{
  margin: 10vh 0;
}
.header-content{
  text-align: center;
  color: #413450;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


